a<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Salman CV </title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Classic CV Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--// Meta tag Keywords -->
<!-- css files -->
<!-- //css files -->
<!-- online-fonts -->
<link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&amp;subset=latin-ext" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
<!-- //online-fonts -->
</head>
<body>
<!-- banner -->
<%= render "banner"%>
<!-- //banner -->
<!-- about -->
<%= render "about"%>
<!-- //about -->
<!-- stats -->
<%= render "skills" %>
<!-- //stats -->
<!-- services -->
<%= render "services" %>
<!-- //services -->
<!-- interests -->
<%= render "interests" %>
<!-- //interests -->
<!-- experience -->
<%= render "experience" %>
<!-- //experience -->
<!-- education -->
<%= render "education" %>
<!-- //education -->
<!-- projects -->

<!-- //projects -->
<%= render 'projects'%>
<!-- introduce -->
<%= render "intro" %>
<!-- //introduce -->
<!-- //contact -->
<%=render "contact" %>
<!--//contact-->
<!-- footer -->
<%= render "footer" %>
<!-- //footer -->

<!-- js-scripts -->
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".scroll").click(function(event){
      event.preventDefault();
      $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
    });
  });
</script>
<!-- start-smoth-scrolling -->
<!-- for-bottom-to-top smooth scrolling -->
<script type="text/javascript">
  $(document).ready(function() {
  /*
    var defaults = {
    containerID: 'toTop', // fading element id
    containerHoverID: 'toTopHover', // fading element hover id
    scrollSpeed: 1200,
    easingType: 'linear'
    };
  */
  $().UItoTop({ easingType: 'easeOutQuart' });
  });
</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //for-bottom-to-top smooth scrolling -->
<!-- menu-script -->
<script>
  (function($){
    // Menu Functions
    $(document).ready(function(){
    $('#menuToggle').click(function(e){
      var $parent = $(this).parent('.menu');
      $parent.toggleClass("open");
      var navState = $parent.hasClass('open') ? "hide" : "show";
      $(this).attr("title", navState + " navigation");
        // Set the timeout to the animation length in the CSS.
        setTimeout(function(){
          console.log("timeout set");
          $('#menuToggle > span').toggleClass("navClosed").toggleClass("navOpen");
        }, 200);
      e.preventDefault();
    });
    });
  })(jQuery);
</script>
<!-- //menu-script -->
<!-- baneer-js -->
<script>
  // You can also use "$(window).load(function() {"
  $(function () {
    // Slideshow 4
    $("#slider").responsiveSlides({
    auto: true,
    pager:false,
    nav:false,
    speed: 500,
    namespace: "callbacks",
    before: function () {
      $('.events').append("<li>before event fired.</li>");
    },
    after: function () {
      $('.events').append("<li>after event fired.</li>");
    }
    });

  });
</script>
<!-- //baneer-js -->
<!-- skills -->
<script>
  $(document).ready(function(){

    $('.skillbar').skillBars({
      from: 0,
      speed: 4000,
      interval: 100,
      decimals: 0,
    });

  });
</script>
<!-- //skills -->
<!-- timeline -->
<script type="text/javascript" src="js/jquery.cntl.js"></script>
<script type="text/javascript">
  $(document).ready(function(e){
    $('.cntl').cntl({
      revealbefore: 300,
      anim_class: 'cntl-animate',
      onreveal: function(e){
        console.log(e);
      }
    });
  });
</script>
<!-- //timeline -->
<!-- accordion -->
<script>
  jQuery(document).ready(function() {
  function close_accordion_section() {
    jQuery('.accordion .accordion-section-title').removeClass('active');
    jQuery('.accordion .accordion-section-content').slideUp(300).removeClass('open');
  }

  jQuery('.accordion-section-title').click(function(e) {
    // Grab current anchor value
    var currentAttrValue = jQuery(this).attr('href');

    if(jQuery(e.target).is('.active')) {
      close_accordion_section();
    }else {
      close_accordion_section();

      // Add active class to section title
      jQuery(this).addClass('active');
      // Open up the hidden content panel
      jQuery('.accordion ' + currentAttrValue).slideDown(300).addClass('open');
    }

    e.preventDefault();
  });
  });
</script>
<!-- //accordion -->
<!-- for projects -->
<script>
  $(document).ready(function(){
    $('.cm-overlay').cmOverlay();
  });
</script>
<!-- //for projects -->
<!-- smooth scrolling -->
<!-- //smooth scrolling -->
<!-- //js-scripts -->

</body>
</html>
